<!DOCTYPE html>
<html>
<Title> Home Page</Title>

<body>





</body>

<%= link_to 'Home', root_path %>
<p> This is my beginner website, I haven't used HTML in about 3 year sso i'm basically a beginner again lel</p>








</html>



